.navbar-nav {

    float: left;
    margin: 10px;

}
.navbar-default {

    background-color: #EDF5E1;
    border-color: #e7e7e7;

}
.navbar-default .navbar-nav > li > a {

    color: #05386B;

}
.navbar-nav > li > a {

    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 16px;

}
.navbar{
    border-radius:0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {

    color: rgb(4, 37, 70);
    background-color: transparent; 

}
.banner{
    width:100%;
    height:600px;
    background-color: #379683;
}
.ban{
    position:absolute;
    top:16vh;
}

.ban .btn{
    height:60px;
    width:200px;
    border-radius: 0px;
} 
.btn-free{
    background-color: #05386B;
    color:#EDF5E1;
    margin:2px;
}
.btn-free:hover{
    background-color: rgb(4, 37, 70);;
    color:white;
}
.btn-become{
    background-color: #EDF5E1;
    color: #05386B;
    margin:2px;
}
.btn-become:hover{
    background-color: rgb(195, 214, 166);
    color: #EDF5E1;
}
.navbar-default .navbar-brand {
    color: #05386B;
}
.text{
    position: absolute;
    top:100%;
    bottom:0;
}
.item{
   margin-top: 4%;
}
.banner-header{
    color:#EDF5E1;

    font-size:41px;
    /* font-size:2.5625rem; */
    line-height:1.17;
    /* color:inherit; */
    font-weight:700;
    margin-bottom:16px;
}
.navbar-brand{
    margin:5px;
}
.footer{
    width: 100%;
    height:60px;
    background-color: #EDF5E1;
}
.desc {
    font-size:20px;
    /* font-size:1.25rem; */
    line-height:1.4;
    margin-bottom:32px;
    color:#EDF5E1;
   }
   @media (min-width:768px) {
    .desc {
     right:0
    }
    .login{
        margin-top:0;
    }
   }
.logback{
    width:100%;
    height:100%;
    background-image:linear-gradient(to bottom right, #379683,#5CDB95);
}
.login{
    background-color: #EDF5E1;
    padding:10px;
    margin-top:30%;
    height: 500px;
    width:100%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0,0.2),0 6px 20px 0 rgba(0, 0, 0,0.19); 
    border-radius: 4px;
    
}
.login input{
    border-radius:0px;
}
.center{
    width: 100%;
    text-align:center;
    align-items: center;
}
.login .btn{
    margin-top:20px;
    height:60px;
    width:200px;
    border-radius: 0px;
} 
.login .signup{
    margin-top:50px;;

}
.brand{
    color:#05386B;
}
.center .img{
    margin-left: 20%;
    margin-top: 20%;
    width:400px;
    height:400px;
}
.signups{
    background-color: #EDF5E1;
    padding:10px;
    margin-top:2%;
    height: 98%;
    width:100%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0,0.2),0 6px 20px 0 rgba(0, 0, 0,0.19); 
    border-radius: 4px;
    
}
.signups .btn{
    margin-top:20px;
    height:50px;
    width:180px;
    border-radius: 0px;
} 
.signups .login{
    margin-top:50px;

}
.signups input{
    border-radius:0px;
}

.nav-tabs{
background-image:linear-gradient(to bottom right, #379683,#5CDB95);
height:100vh;

}
.nav-tabs .desc{
    text-align:center;
}
.nav-tabs img{
    margin: 3%;
}
.nav-tabs a{
    font-size:20px;
    /* font-size:1.25rem; */
    line-height:1.4;
    /* margin-bottom:32px; */
    color:#EDF5E1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #05386B;
    cursor: default;
    background-color: #EDF5E1;
    border: 1px solid #EDF5E1;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color:transparent;
    color: #EDF5E1;
    border-radius: 0px;
}
.listext{
    display: inline;
    font-size: 20px;
}
.divider{
    color:#EDF5E1
}
.nav-tabs li{
    /* border-bottom:1px solid #EDF5E1; */
}
.tab-content{
    /* background-image: linear-gradient(to bottom right, #05386B,rgb(40, 107, 173)); */
    height:100%;
}
.services-head{
    margin-top: 5%;
    height:50px;
    /* width: 100%; */
    background-color: #05386B;
    text-align: center;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0,0.2),0 6px 20px 0 rgba(0, 0, 0,0.19); 
    /* padding: 10px; */
}
.services-body{
    margin-top: 5%;
    background-color: #EDF5E1;
    text-align: justify;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0,0.2),0 6px 20px 0 rgba(0, 0, 0,0.19); 
}
.service{
    padding:15px 20px 5px 20px;
    border-bottom:1px solid rgb(70, 78, 56);
    margin-bottom: 5px;
    
}
.service:last-child{
    border-bottom:none;
}
.service label{
    /* align-items:center; */
    font-size:18px;
    /* display:inline; */
}
.service h5{
    display:inline-block;
    font-size:18px;
    /* font-size:2.5625rem; */
    line-height:1.17;
    /* color:inherit; */
    /* font-weight:700; */
    /* margin-bottom:16px; */
    margin-top:10px;
}
.dashead{
    color:#EDF5E1;
    display:inline-block;
    font-size:21px;
    /* font-size:2.5625rem; */
    line-height:1.17;
    /* color:inherit; */
    font-weight:700;
    /* margin-bottom:16px; */
    margin-top:10px;
}
.service p{
    font-size:14px;
    /* font-size:1.25rem; */
    line-height:1.4;
    /* margin-bottom:32px; */
    /* color:#EDF5E1; */
}
.delete{
    margin-top: 5%;
    height:50px;
    /* width: 100%; */
    background-color: rgb(128, 8, 8);
    text-align: center;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0,0.2),0 6px 20px 0 rgba(0, 0, 0,0.19); 
    /* padding: 10px; */
}
.btn-del .btn{
    background-color: #7a0f0f;
    color: #EDF5E1;
    margin:2px;
}
.update-form input{
    border-radius:0px;
}

.bans .btn{
    margin-top:20px;
    height:60px;
    width:200px;
    border-radius: 0px;
}
.update-button{
    background-color: #05386B;
    color:#EDF5E1;
    margin:2px;
}
.update-button:hover{
    background-color: rgb(4, 37, 70);;
    color:#EDF5E1;
}